<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{% if email %}
	<form action="{% url 'forgot-password' %}" method="POST">
		{% csrf_token %}
		<label for="email">Enter Email</label>
		<input type="hidden" name="email_as_input" value="1">
		<input type="email" name="email" required>
		<input type="submit" name="submit">
	</form>
	{% endif %}
	{% if password %}
	<form action="{% url 'forgot-password' %}" method="POST">
		{% csrf_token %}
		<label for="password">Enter New Password</label>
		<input type="hidden" name="password_as_input" value="1">
		<input type="hidden" name="user_id" value="{{ user_id }}">
		<input type="password" name="password" required>
		<input type="submit" name="submit">
	</form>
	{% endif %}
</body>
</html>