<!DOCTYPE html>
<html>
<head>
	<title>GoGuide</title>
</head>
<body>
	<a href="{% url 'index' %}"><h1 style="text-align:center;color:#7f70f5;font-weight:bold;font-size:50px;">Go Guide</h1></a>
	{% if email %}
	<form action="{% url 'forgot-password' %}" method="POST">
		{% csrf_token %}
		<div style="margin:200px;text-align:center;">
			<label for="email"><h2>Enter Email</h2></label>
			<input type="hidden" name="email_as_input" value="1">
			<input type="email" name="email" required>
			<input type="submit" name="submit">
		</div>
	</form>
	{% endif %}
	{% if password %}
	<form action="{% url 'forgot-password' %}" method="POST">
		{% csrf_token %}
		<div>
			<label for="password"><h2>Enter New Password</h2></label>
			<input type="hidden" name="password_as_input" value="1">
			<input type="hidden" name="user_id" value="{{ user_id }}">
			<input type="password" name="password" required>
			<input type="submit" name="submit">
		</div>
	</form>
	{% endif %}
</body>
</html>