<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href={% static 'App/assets/bootstrap/css/bootstrap.min.css' %}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Kanadaka">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Telivigala">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra+SC">
    href = {% static 'App/assets/css/untitled.css' %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aref+Ruqaa">
    <link rel="stylesheet" href=href = {% static 'App/assets/fonts/font-awesome.min.css' %}>
    <link rel="stylesheet" href={% static 'App/assets/fonts/ionicons.min.css' %}>
    <link rel="stylesheet" href={% static 'App/assets/css/Carousel.css' %}>
    <link rel="stylesheet" href={% static 'App/assets/css/Custom-Checkbox.css' %}>
    <link rel="stylesheet" href={% static 'App/assets/css/Elegant-Registration-Form.css' %}>
    <link rel="stylesheet" href={% static 'App/assets/css/Filter.css' %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href={% static 'App/assets/css/image-card-materialize-1.css' %}>
    <link rel="stylesheet" href=href = {% static 'App/assets/css/image-card-materialize.css' %}>
    <link rel="stylesheet" href={% static 'App/assets/css/Latest-Blog.css' %}>
    <link rel="stylesheet" href={% static 'App/assets/css/Login-Form-Clean.css' %}
    <link rel="stylesheet" href={% static 'App/assets/css/Pretty-Search-Form.css' %}>
    <link rel="stylesheet" href={% static 'App/assets/css/Registration-Form-with-Photo.css' %}>
    <link rel="stylesheet" href=href = {% static 'App/assets/css/Single-Page-Contact-Us-Form.css' %}>
    <link rel="stylesheet" href=href = {% static 'App/assets/css/untitled.css' %}>
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white float-right portfolio-navbar gradient" style="height: 85px;">
        <div class="container"><a class="navbar-brand logo" href="#" style="font-family: 'Aref Ruqaa', serif;font-size: 37px;">GoGuide</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="index.html" style="font-family: Lato, sans-serif;">About us</a></li>
                    <li class="nav-item"><a class="nav-link" href="blogs.html" style="font-family: Lato, sans-serif;color: var(--light);filter: brightness(99%) saturate(73%);font-size: 16px;">Blogs</a></li>
                    <li class="nav-item"><a class="nav-link active" href="">Contact us</a></li>
                </ul><a href="" style="font-family: Lato, sans-serif;color: var(--light);filter: brightness(99%) saturate(73%);font-size: 16px;">Help</a>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <h1 style="font-family: 'Aref Ruqaa', serif;color: rgb(25,148,237);font-size: 60px;margin-top: -35px;">GoGuide</h1>
            <div class="container">
                <div class="about-me">
                    <p style="font-family: 'Aref Ruqaa', serif;color: rgb(65,128,174);padding: 8px;padding-bottom: 60px;"><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation<br></p>
                </div>
            </div><span></span>
            <form class="search-form" style="border-radius: 10px;width: 426px;height: 134px;margin-top: 54px;margin-bottom: 90px;">
                <div class="input-group">
                    <div class="input-group-prepend"></div><input class="form-control" type="tel" placeholder="Search Destination" style="color: var(--blue);border-top-left-radius: 15px;border-top-right-radius: 15px;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;">
                    <div class="input-group-append"><button class="btn btn-light" type="button" style="color: var(--white);background: rgb(91,126,255);border-top-left-radius: 20px;border-bottom-left-radius: 0px;border-top-right-radius: 0px;padding-top: 6px;border-bottom-right-radius: 20px;height: 44px;"><i class="fa fa-search" style="border-color: var(--indigo);border-top-left-radius: 0px;"></i></button></div>
                </div>
            </form>
        </section>
        <section class="portfolio-block photography">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="assets/img/nature/image5.jpg"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="assets/img/nature/image2.jpg"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="assets/img/tech/image4.jpg"></a></div>
                </div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2>Blogs</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Blog 1</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Blog 2</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Blog 3</h3>
                                <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <section class="portfolio-block website gradient" style="background: #ffffff;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3 style="color: #0ea0ff;">About Us</h3>
                    <p style="color: #0ea0ff;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget velit ultricies, feugiat est sed, efr nunc, vivamus vel accumsan dui. Quisque ac dolor cursus, volutpat nisl vel, porttitor eros.</p>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div class="portfolio-laptop-mockup">
                        <div class="screen">
                            <div class="screen-content" style="background-image:url(&quot;assets/img/tech/image6.png&quot;);"></div>
                        </div>
                        <div class="keyboard"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="page-footer" style="color: rgb(41,101,162);background: linear-gradient(120deg, #7f70f5, #0ea0ff), rgb(193,131,242);">
        <div class="container">
            <div class="links"><a href="#">Contact me</a></div>
        </div>
        <div class="social-icons"><a href="#" style="background: var(--indigo);"><i class="icon ion-social-facebook"></i></a><a href="#" style="background: #51242f;color: var(--white);"><i class="icon ion-social-instagram-outline"></i></a><a href="#" style="background: var(--blue);"><i class="icon ion-social-twitter"></i></a></div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/image-card-materialize.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>
