<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>HME</title>
    <link rel="stylesheet" href="{% static 'App/assets/bootstrap/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Kanadaka">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Telivigala">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Almendra+SC">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aref+Ruqaa">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="{% static 'App/assets/css/Roboto.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/fonts/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/fonts/ionicons.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/Article-Clean.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/Article-List.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/best-carousel-slide.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/Carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/Contact-Form-Clean.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/Custom-Checkbox.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/Elegant-Registration-Form.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/Filter.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="{% static 'App/assets/css/image-card-materialize-1.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/image-card-materialize.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/Latest-Blog.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/Lightbox-Gallery.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/Login-Form-Clean.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/Map-Clean.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/Pretty-Search-Form.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/Profile-Card-1.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/Registration-Form-with-Photo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/shopping-ecommerce-products.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/Single-Page-Contact-Us-Form.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/Team-Clean.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/Team-with-rotating-cards.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'App/assets/css/untitled.css' %}" type="text/css">
</head>

<body style="margin: 100px;margin-left: 0px;margin-right: 0px;margin-bottom: 0px;">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white float-right portfolio-navbar gradient" style="height: 85px;">
        <div class="container"><a class="navbar-brand logo" href="#" style="font-family: 'Aref Ruqaa', serif;font-size: 37px;">GoGuide</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="padding-right: 0px;"><a class="nav-link" href="touristhome.html" style="font-family: Lato, sans-serif;">About us</a></li>
                    <li class="nav-item" style="padding-right: 0px;"><a class="nav-link" href="blogs.html" style="font-family: Lato, sans-serif;color: var(--light);filter: brightness(99%) saturate(73%);font-size: 16px;">Blogs</a></li>
                    <li class="nav-item" style="padding-right: 0px;"><a class="nav-link" href="">Contact us</a></li>
                </ul><a href="" style="font-family: Lato, sans-serif;color: var(--light);filter: brightness(99%) saturate(73%);font-size: 16px;padding: 7.25px;">Help</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row" style="box-shadow: 0px 0px;">
            <div class="col-md-12 text-center align-content-center align-self-center" style="margin-bottom: 300px;margin-top: 100px;padding-right: 200px;padding-left: 200px;">
                <div class="align-items-center align-content-center align-self-center profile-card" style="height: 675px;width: 700px;text-align: center;background: var(--white);border-style: none;box-shadow: 0px 0px 14px;">
                    <div class="profile-back" style="background: var(--cyan);"></div><img class="rounded-circle profile-pic" src="assets/img/2.jpg">
                    <h3 class="profile-name" style="background: var(--teal);">Lorena Norambuena Rojas</h3>
                    <h3 class="profile-name" style="background: var(--white);color: var(--gray-dark);font-family: Lora, serif;">Rating - 4.5</h3>
                    <h3 class="profile-name" style="background: var(--white);color: var(--gray-dark);font-family: Roboto, sans-serif;">Charges - 1000INR</h3>
                    <div class="row">
                        <div class="col text-center align-items-center align-content-center align-self-center" style="text-align: center;"><button class="btn btn-primary btn-block text-center d-inline-flex" type="submit" style="width: 80px;height: 40px;border-radius: 26px;border-top-right-radius: 0px;border-bottom-left-radius: 0px;margin-left: 0px;padding: 10px;font-size: 12.5px;color: var(--white);background: var(--cyan);text-align: center;padding-left: 18px;padding-top: 5px;">BOOK</button></div>
                    </div>
                    <p class="profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer elementum aliquet ante, non faucibus justo pulvinar sit amet. Aliquam tempor elit ac fringilla pulvinar. Curabitur eleifend, orci ac sagittis sagittis, felis ligula convallis risus, eget scelerisque ligula velit in lorem. Etiam sit amet vestibulum arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam mattis tortor in est lacinia eleifend. Nam vel diam ante. Integer nec nulla pharetra, dictum massa nec, tincidunt mauris. Nunc pulvinar, ante sed ultricies consequat, felis nunc mollis felis, mollis eleifend est magna eu justo. Aenean ut egestas nibh. Phasellus hendrerit mauris tincidunt urna placerat aliquam. </p>
                    <ul class="social-list">
                        <li> <i class="fa fa-facebook-official" style="background: var(--blue);"></i></li>
                        <li> <i class="fa fa-twitter-square" style="background: var(--blue);"></i></li>
                        <li> <i class="fa fa-linkedin-square" style="background: var(--blue);"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer" style="color: rgb(41,101,162);background: linear-gradient(120deg, #7f70f5, #0ea0ff), rgb(193,131,242);">
        <div class="container">
            <div class="links"><a href="#">Contact me</a></div>
        </div>
        <div class="social-icons"><a href="#" style="background: var(--indigo);"><i class="icon ion-social-facebook"></i></a><a href="#" style="background: #51242f;color: var(--white);"><i class="icon ion-social-instagram-outline"></i></a><a href="#" style="background: var(--blue);"><i class="icon ion-social-twitter"></i></a></div>
    </footer>
    <script src="{% static 'App/assets/js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'App/assets/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js" type="text/javascript"></script>
    <script src="{% static 'App/assets/js/image-card-materialize.js' %}" type="text/javascript"></script>
    <script src="{% static 'App/assets/js/theme.js' %}" type="text/javascript"></script>
</body>

</html>